.app-main {
    display: flex;
    overflow: hidden;
    margin-top: 10px;
  }
  .nav-column {
    font-family: Helvetica;
    font-size: 18px;
    padding: initial;
    overflow-y: auto;
    overflow-x: hidden !important;
  }
  
  .content-column {
    font-size: 18px;
 
    overflow-y: auto;
  }
  #outlined-size-normal {
    padding: 8px !important;
  }